html{
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
}
body {
	width: 100%;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
}

img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
div.main{
	width: 100%;
	height: 100%;
	background: url(../img/welcome.jpg) no-repeat center center;
	background-size: cover;
}
a.comein{
	width: 34.6875%;
	height: 7.6388%;
	position: absolute;
	left: 32.6562%;
	top: 7.4404%;
}
a.gomain{
	display: block;
	width: 100%;
	height: 100%;
}


div.main_bg{
	width: 100%;
	height: 100%;
	background: url(../img/index.jpg) no-repeat center;
	background-size: cover;
}
a.back {
  display: block;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
}
a.back img {
  height: 30px;
  width: 30px;
}
div.article {
  width: 92%;
  padding: 4%;
}
div.article h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
  margin-top: 20px;
}
img.art_img {
  margin: 18px 0;
}
div.article h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
div.article h4.mag {
  margin: 10px 0;
}
div.article p {
  font-size: 16px;
  line-height: 30px;
}
p.duanluo {
  text-indent: 2em;
}
div.article strong{
	font-weight: bold;
}
div.beef{
	width: 100%;
	height: auto;
	margin-top: 15px;
}
div.b_img{
	float: left;
	width: 40%;
}
h4.b_txt{
	float: right;
	width: 60%;
}
h4.b_txt p{
	font-weight: normal;
}
img.erweima {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}
a.comin {
  display: block;
  width: 35%;
  position: absolute;
  left: 32.5%;
  bottom: 5%;
  text-align: center;
}
/*关注微信--begin*/
p.sao_txt{
	font-size: 22px;
	text-align: center;
	padding: 30px 0;
}
p.sao_txt strong{
	font-weight: bold;
}
p.zhichi{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
a.ewm_return{
	display: block;
	border-radius: 20px;
	width: 90%;
	border: 1px solid #BCBCBC;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	color: #BCBCBC;
	margin: 30px auto 0;
}
/*关注微信--end*/
img#nav_no, img#nav_yes{
	position: absolute;
	width: 45px;
	height: 45px;
	right: 3%;
	bottom: 1.5%;
	z-index: 10;
}
img#nav_no{
	display: block;
}
img#nav_yes{
	display: none;
}
a.ha, a.ha2, a.ha3, a.ha4{
	display: none;
	width: 45px;
	height: 45px;
	position: absolute;
	right: 3%;
	bottom: 1.5%;
}
a.ha{
	z-index: 5;
}
a.ha2{
	z-index: 4;
}
a.ha3{
	z-index: 3;
}
a.ha4{
	z-index: 2;
}

a.ha_m{
	-webkit-animation: ha_m .5s 0s forwards;
    animation: ha_m .5s 0s forwards;
}
@-webkit-keyframes ha_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 22%;
	}
}
@keyframes ha_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 22%;
	}
}

a.ha2_m{
	-webkit-animation: ha2_m .5s .1s forwards;
    animation: ha2_m .5s .1s forwards;
}
@-webkit-keyframes ha2_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 40.5%;
	}
}
@keyframes ha2_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 40.5%;
	}
}

a.ha3_m{
	-webkit-animation: ha3_m .5s .2s forwards;
    animation: ha3_m .5s .2s forwards;
}
@-webkit-keyframes ha3_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 59.5%;
	}
}
@keyframes ha3_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 59.5%;
	}
}

a.ha4_m{
	-webkit-animation: ha4_m .5s .3s forwards;
    animation: ha4_m .5s .3s forwards;
}
@-webkit-keyframes ha4_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 78%;
	}
}
@keyframes ha4_m {
	0% {
  		right: 2%;
	}
	100% {
  		right: 78%;
	}
}


/*隐藏菜单*/
a.ha_m_hide{
	-webkit-animation: ha_m_hide .5s 0s forwards;
    animation: ha_m_hide .5s 0s forwards;
}
@-webkit-keyframes ha_m_hide {
	0% {
  		right: 22%;
	}
	100% {
  		right: 2%;
	}
}
@keyframes ha_m_hide {
	0% {
  		right: 22%;
	}
	100% {
  		right: 2%;
	}
}

a.ha2_m_hide{
	-webkit-animation: ha2_m_hide .5s .1s forwards;
    animation: ha2_m_hide .5s .1s forwards;
}
@-webkit-keyframes ha2_m_hide {
	0% {
  		right: 40.5%;
	}
	100% {
  		right: 2%;
	}
}
@keyframes ha2_m_hide {
	0% {
  		right: 40.5%;
	}
	100% {
  		right: 2%;
	}
}

a.ha3_m_hide{
	-webkit-animation: ha3_m_hide .5s .2s forwards;
    animation: ha3_m_hide .5s .2s forwards;
}
@-webkit-keyframes ha3_m_hide {
	0% {
  		right: 59.5%;
	}
	100% {
  		right: 2%;
	}
}
@keyframes ha3_m_hide {
	0% {
  		right: 59.5%;
	}
	100% {
  		right: 2%;
	}
}

a.ha4_m_hide{
	-webkit-animation: ha4_m_hide .5s .3s forwards;
    animation: ha4_m_hide .5s .3s forwards;
}
@-webkit-keyframes ha4_m_hide {
	0% {
  		right: 78%;
	}
	100% {
  		right: 2%;
	}
}
@keyframes ha4_m_hide {
	0% {
  		right: 78%;
	}
	100% {
  		right: 2%;
	}
}
