html{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
body {
	width: 100%;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
  position: relative;
}

img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
div.main {
  width: 100%;
  height: 100%;
  background: url(../img/welcome.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
div.main_mate{
	-webkit-animation: main_mate 1s 0s forwards;
    animation: main_mate 1s 0s forwards;
}
@-webkit-keyframes main_mate {
	0% {
  		opacity: 1;
	}
	100% {
  		opacity: 0;
	}
}
@keyframes main_mate {
	0% {
  		opacity: 1;
	}
	100% {
  		opacity: 0;
	}
}
img#nav_btn{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 12px;
	bottom: 12px;
}
a.kongbai{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 48%;
}
div.menu {
  width: 100%;
  height: 55%;
  position: absolute;
  left: 0;
  bottom: -55%;
  display: none;
}
div.menu_bg{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
}
div.navshow{
	-webkit-animation: navshow 1s 0s forwards;
    animation: navshow 1s 0s forwards;
}
@-webkit-keyframes navshow {
	0% {
  		bottom: -55%;
	}
	100% {
  		bottom: 0;
	}
}
@keyframes navshow {
	0% {
  		bottom: -55%;
	}
	100% {
  		bottom: 0;
	}
}
div.navhide{
	-webkit-animation: navhide 1s 0s forwards;
    animation: navhide 1s 0s forwards;
}
@-webkit-keyframes navhide {
	0% {
  		bottom: 0;
	}
	100% {
  		bottom: -55%;
	}
}
@keyframes navhide {
	0% {
  		bottom: 0;
	}
	100% {
  		bottom: -55%;
	}
}
div.menu ul{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.menu ul li{
	float: left;
	width: 21.875%;
	height: 35.5871%;
	margin: 9% 5.73% 0;
	position: relative;
}
div.menu ul li a{
	display: block;
	width: 100%;
	height: 65%;
	z-index: 2;
}
div.menu ul li p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  display: block;
  position: absolute;
  width: 145%;
  left: -20%;
  bottom: -10%;
}
a.getout{
	display: block;
	width: 5.9375%;
	height: 2.4911%;
	position: absolute;
	left: 47.2%;
	top: 3%;
	z-index: 2;
	background: url(../img/down.png) no-repeat center;
	background-size: cover;
}
div.main_bg{
	width: 100%;
	height: 100%;
	background: url(../img/index.jpg) no-repeat center;
	background-size: cover;
    position: relative;
}
div.mymate img{
    position: absolute;
}
div.mymate > img.ind_a{
    width: 59.2187%;
    height: 9.0277%;
    left: 12.0312%;
    top: 39.2857%;
}
div.ind > img.ind_am{
    left: 6.0312%;
    opacity: 0;
    -webkit-animation: ind_am 1s 0s forwards;
    animation: ind_am 1s 0s forwards;
}
@-webkit-keyframes ind_am {
    0% {
        left: 6.0312%;
        opacity: 0;
    }
    100% {
        left: 12.0312%;
        opacity: 1;
    }
}
@keyframes ind_am {
    0% {
        left: 6.0312%;
        opacity: 0;
    }
    100% {
        left: 12.0312%;
        opacity: 1;
    }
}
div.mymate > img.ind_b{
    width: 68.125%;
    height: 5.6547%;
    left: 12.0312%;
    top: 48.3134%;
}
div.ind > img.ind_bm{
    left: 6.0312%;
    opacity: 0;
    -webkit-animation: ind_bm 1s 1s forwards;
    animation: ind_bm 1s 1s forwards;
}
@-webkit-keyframes ind_bm {
    0% {
        left: 6.0312%;
        opacity: 0;
    }
    100% {
        left: 12.0312%;
        opacity: 1;
    }
}
@keyframes ind_bm {
    0% {
        left: 6.0312%;
        opacity: 0;
    }
    100% {
        left: 12.0312%;
        opacity: 1;
    }
}
div.mymate > img.ind_c{
    width: 27.5%;
    height: 1.6865%;
    left: 12.6562%;
    top: 55%;

}
div.ind > img.ind_cm{
    top: 57%;
    opacity: 0;
    -webkit-animation: ind_cm 1s 2s forwards;
    animation: ind_cm 1s 2s forwards;
}
@-webkit-keyframes ind_cm {
    0% {
        top: 57%;
        opacity: 0;
    }
    100% {
        top: 55%;
        opacity: 1;
    }
}
@keyframes ind_cm {
    0% {
        top: 57%;
        opacity: 0;
    }
    100% {
        top: 55%;
        opacity: 1;
    }
}

a.back {
  display: block;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
}
a.back img {
  height: 30px;
  width: 30px;
}
div.article {
  width: 92%;
  padding: 4%;
  position: relative;
}
div.article h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
  margin-top: 20px;
}
img.art_img {
  margin: 18px 0;
}
div.article h4 {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
div.article h4.mag {
  margin: 10px 0;
}
div.article p {
  font-size: 16px;
  line-height: 30px;
}
p.duanluo {
  text-indent: 2em;
}
div.article strong{
	font-weight: bold;
}
div.beef{
	width: 100%;
	height: auto;
	margin-top: 15px;
}
div.b_img{
	float: left;
	width: 40%;
}
h4.b_txt{
	float: right;
	width: 60%;
}
h4.b_txt p{
	font-weight: normal;
}
img.erweima {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}
/*关注微信--begin*/
p.sao_txt{
	font-size: 22px;
	text-align: center;
	padding: 30px 0;
}
p.sao_txt strong{
	font-weight: bold;
}
p.zhichi{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
a.ewm_return{
	display: block;
	border-radius: 20px;
	width: 90%;
	border: 1px solid #BCBCBC;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	color: #BCBCBC;
	margin: 30px auto 0;
}
/*关注微信--end*/
/*真伪鉴别文字换行--begin*/
div.txt_lr {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
div.txt_lr > strong {
  display: block;
  float: left;
  font-size: 16px;
  max-width: 28%;
}
div.txt_lr > p {
  width: 72%;
  display: block;
  float: right;
}
/*真伪鉴别文字换行--end*/
/*溯源--begin*/
div.apple_sy {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
}
div.sy_l {
  float: left;
  width: 25%;
}
div.sy_l p {
  font-size: 1.2em;
}
div.sy_r {
  float: right;
  width: 72%;
  position: relative;
  padding-left: 3%;
}
div.sy_bor {
  border-left: 2px dotted #489F3E;
  padding-left: 4%;
}
div.sy_bor p {
  line-height: 24px;
  font-size: 14px;
  padding-left: 3%;
}
div.sy_bor p span {
  font-weight: bold;
}
img.time {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
div.sy_l p.sy_x{
    font-size: 14px;
    text-align: center;
    color: #595959;
}
/*溯源--end*/
div.main > img{
    position: absolute;
}
img.wel_a{
    width: 59.2187%;
    height: 9.0277%;
    left: 12.9375%;
    top: 20.0396%;
    opacity: 0;
}
img.wel_am{
    -webkit-animation: wel_am 1s 0s forwards;
    animation: wel_am 1s 0s forwards;
}
@-webkit-keyframes wel_am {
    0% {
        left: 12.9375%;
        opacity: 0;
    }
    100% {
        left: 20.9375%;
        opacity: 1;
    }
}
@keyframes wel_am {
    0% {
        left: 12.9375%;
        opacity: 0;
    }
    100% {
        left: 20.9375%;
        opacity: 1;
    }
}
img.wel_b{
    width: 68.125%;
    height: 5.6547%;
    left: 24.4062%;
    top: 28.7698%;
    opacity: 0;
}
img.wel_bm{
    -webkit-animation: wel_bm 1s 0s forwards;
    animation: wel_bm 1s 0s forwards;
}
@-webkit-keyframes wel_bm {
    0% {
        left: 24.4062%;
        opacity: 0;
    }
    100% {
        left: 16.4062%;
        opacity: 1;
    }
}
@keyframes wel_bm {
    0% {
        left: 24.4062%;
        opacity: 0;
    }
    100% {
        left: 16.4062%;
        opacity: 1;
    }
}
img.wel_c{
    width: 30.1562%;
    height: 1.6865%;
    left: 35.625%;
    top: 17.5436%;
    opacity: 0;
}
img.wel_cm{
    -webkit-animation: wel_cm .5s 1s forwards;
    animation: wel_cm .5s 1s forwards;
}
@-webkit-keyframes wel_cm {
    0% {
        top: 17.5436%;
        opacity: 0;
    }
    100% {
        top: 19.5436%;
        opacity: 1;
    }
}
@keyframes wel_cm {
    0% {
        top: 17.5436%;
        opacity: 0;
    }
    100% {
        top: 19.5436%;
        opacity: 1;
    }
}
img.wel_d{
    width: 20.1562%;
    height: 10.3174%;
    left: -22%;
    top: 40%;
    opacity: 0;
}
img.wel_dm{
    -webkit-animation: wel_dm 1s 1.5s forwards;
    animation: wel_dm 1s 1.5s forwards;
}
@-webkit-keyframes wel_dm {
    0% {
        left: -22%;
        top: 40%;
        opacity: 0;
    }
    100% {
        left: 22.1875%;
        top: 22.0238%;
        opacity: 1;
    }
}
@keyframes wel_dm {
    0% {
        left: -22%;
        top: 40%;
        opacity: 0;
    }
    100% {
        left: 22.1875%;
        top: 22.0238%;
        opacity: 1;
    }
}
a.gomain{
    display: block;
    position: absolute;
    width: 35.7812%;
    height: 7.738%;
    left: 32.3437%;
    bottom: 8.4087%;
    opacity: 0;
}
a.gomain_m{
    -webkit-animation: gomain_m 1s 2.5s forwards;
    animation: gomain_m 1s 2.5s forwards;
}
@-webkit-keyframes gomain_m {
    0% {
        bottom: 8.4087%;
        opacity: 0;
    }
    100% {
        bottom: 11.4087%;
        opacity: 1;
    }
}
@keyframes gomain_m {
    0% {
        bottom: 8.4087%;
        opacity: 0;
    }
    100% {
        bottom: 11.4087%;
        opacity: 1;
    }
}

p.copyright{
  margin: 20px auto 0;
  border-top: 1px solid #ccc;
  font-size: 14px;
  height: 50px;
  text-align: center;
  width: 92%;
  padding: 0 4%;
}
a.go_wz{
  display: inline-block;
  border: 1px solid #343434;
  margin-top: 10px;
  font-size: 14px;
  padding: 0.01em 0.5em;
  border-radius: 0.5em;
}
