html{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
body {
	width: 100%;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
    position: relative;
    padding-bottom: 20px;
}
img.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}
.user_head{
    height: 188px;
    background: url(../img/head_bg.jpg) no-repeat center;
    background-size: cover;
}
.head{
    width: 88px;
    height: 88px;
    float: left;
    margin: 47px 0 0 10%;
}
.head img{
    border-radius: 100%;
    border: 3px solid #fff;
}
.user_info{
    float: left;
    margin: 60px 0 0 10%;
}
.user_info h4{
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}
.user_info p{
    font-size: 14px;
    color: #fff;
}
.info_list{
    width: 90%;
    margin: 0 auto;
}
.info_list ul li{
    min-height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 5%;
}
.info_list ul li span{
    display: inline-block;
    width: 30%;
}
.info_list ul li h5{
    display: inline-block;
    width: 65%;
}
.info_list ul li h5 p{
    font-size: 14px;
}
.info_list ul li a{
    font-size: 14px;
    color: #333;
}
.save{
    width: 80%;
    height: 35px;
    line-height: 35px;
    background-color: #0194E9;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px auto 0;
    display: block;
    font-size: 16px;
}
div.black{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.tip{
    width: 62.5%;
    height: auto;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}
