
.icon-laiwifi-spin6:before { content: '\e807'; } /* '' */
.icon-laiwifi-bus:before { content: '\e810'; } /* '' */
.icon-laiwifi-th-list:before { content: '\e809'; } /* '' */
.icon-laiwifi-home:before { content: '\e805'; } /* '' */
.icon-laiwifi-link:before { content: '\e80e'; } /* '' */
.icon-laiwifi-download-cloud:before { content: '\e80c'; } /* '' */
.icon-laiwifi-bell-alt:before { content: '\e80f'; } /* '' */
.icon-laiwifi-location:before { content: '\e801'; } /* '' */
.icon-laiwifi-heart:before { content: '\e804'; } /* '' */
.icon-laiwifi-phone:before { content: '\e802'; } /* '' */
.icon-laiwifi-login:before { content: '\e80b'; } /* '' */
.icon-laiwifi-clock:before { content: '\e803'; } /* '' */
.icon-laiwifi-left-big:before { content: '\e806'; } /* '' */
.icon-laiwifi-search:before { content: '\e80d'; } /* '' */
.icon-laiwifi-signal:before { content: '\e800'; } /* '' */
.icon-laiwifi-comment:before { content: '\e80a'; } /* '' */
.icon-laiwifi-doc-text-inv:before { content: '\e808'; } /* '' */