html{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
body{
	width: 100%;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
}
img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
div.main{
	width: 100%;
	height: 100%;
	background: url(../img/welcome.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}
img.mate_a{
    width: 3.2812%;
    height: 13.3928%;
    position: absolute;
    left: 39.5312%;
    top: 23.2142%;
    opacity: 0;
}
img.mate01{
    top: 28.2142%;
    opacity: 0;
    -webkit-animation: mate01 1s 0s forwards;
    animation: mate01 1s 0s forwards;
}
@-webkit-keyframes mate01 {
    0% {
        top: 28.2142%;
        opacity: 0;
    }
    100% {
        top: 23.2142%;
        opacity: 1;
    }
}
@keyframes mate01 {
    0% {
        top: 28.2142%;
        opacity: 0;
    }
    100% {
        top: 23.2142%;
        opacity: 1;
    }
}
img.mate_b{
    width: 5.9375%;
    height: 29.6626%;
    position: absolute;
    left: 42.0312%;
    top: 13.2936%;
    opacity: 0;
}
img.mate02{
    top: 8.2936%;
    opacity: 0;
    -webkit-animation: mate02 1s 0s forwards;
    animation: mate02 1s 0s forwards;
}
@-webkit-keyframes mate02 {
    0% {
        top: 8.2936%;
        opacity: 0;
    }
    100% {
        top: 13.2936%;
        opacity: 1;
    }
}
@keyframes mate02 {
    0% {
        top: 8.2936%;
        opacity: 0;
    }
    100% {
        top: 13.2936%;
        opacity: 1;
    }
}
img.mate_c{
    width: 11.7187%;
    height: 26.3888%;
    position: absolute;
    left: 49.75%;
    top: 16.4682%;
    opacity: 0;
}
img.mate03{
    left: 54.75%;
    opacity: 0;
    -webkit-animation: mate03 1s 1s forwards;
    animation: mate03 1s 1s forwards;
}
@-webkit-keyframes mate03 {
    0% {
        left: 54.75%;
        opacity: 0;
    }
    100% {
        left: 49.75%;
        opacity: 1;
    }
}
@keyframes mate03 {
    0% {
        left: 54.75%;
        opacity: 0;
    }
    100% {
        left: 49.75%;
        opacity: 1;
    }
}
a.comin{
    display: block;
    margin: 0 auto;
    width: 43.5937%;
    height: 7.738%;
    position: absolute;
    left: 28.2031%;
    bottom: 8%;
    opacity: 0;
}
a.mate04{
    opacity: 0;
    -webkit-animation: mate04 1s 2s forwards;
    animation: mate04 1s 2s forwards;
}
@-webkit-keyframes mate04 {
    0% {
        opacity: 0;
        bottom: 5%;
    }
    100% {
        opacity: 1;
        bottom: 8%;
    }
}
@keyframes mate04 {
    0% {
        opacity: 0;
        bottom: 5%;
    }
    100% {
        opacity: 1;
        bottom: 8%;
    }
}
div.main_bg{
	width: 100%;
	height: 100%;
	background: url(../img/index.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}
div.menu ul {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div.menu ul li{
    float: left;
    width: 29.2187%;
    margin: 8% 0 0 4.12%;
}
div.menu ul li a{
    width: 100%;
}
div.menu ul li a img{
    width: 80%;
}

a.back {
  display: block;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
}
a.back img {
  height: 30px;
  width: 30px;
}
img.erweima{
	max-width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}
div.article{
	width: 92%;
	padding: 4%;
}
div.article h3{
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	border-bottom: 1px solid #E2E2E2;
	text-align: center;
	margin-top: 20px;
}
div.lp_one{
	width: 100%;
}
div.article h4{
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}
div.article h4.bg{
	margin-top: 10px;
}
div.l_img{
	width: 60%;
	float: left;
}
div.r_img{
	width: 60%;
	float: right;
}
h4.r_txt{
	width: 40%;
	float: right;
	padding-top: 8%;
}
h4.l_txt{
	width: 40%;
	float: left;
	padding-top: 8%;
}
div.lp_four > h4.l_txt{
	width: 60%;
	float: left;
	padding-top: 12%;
}
div.lp_four > div.r_img{
	width: 40%;
	float: right;
}
div.article h4 img{
	width: 34px;
	height: 14px;
	float: left;
	padding-top: 7px;
}
div.article h4 span{
	padding-left: 5px;
}
div.article p{
	font-size: 16px;
	line-height: 30px;
}
p.duan{
	font-weight: normal;
}
p.duanluo{
	text-indent: 2em;
}
img.art_img{
	margin: 18px 0;
}
h4.tip{
	margin-top: 10px;
	font-size: 16px;
	color: #E54A51;
	line-height: 25px;
}
/*关注微信--begin*/
p.sao_txt{
	font-size: 22px;
	text-align: center;
	padding: 30px 0;
}
p.sao_txt strong{
	font-weight: bold;
}
p.zhichi{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
a.ewm_return{
	display: block;
	border-radius: 20px;
	width: 90%;
	border: 1px solid #BCBCBC;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	color: #BCBCBC;
	margin: 30px auto 0;
}
/*关注微信--end*/
div.txt_lr {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
div.txt_lr > strong {
  display: block;
  float: left;
  font-size: 16px;
  max-width: 28%;
  font-weight: normal;
}
div.txt_lr > p {
  width: 72%;
  display: block;
  float: right;
}

div.menu {
  width: 100%;
  height: 43.5%;
  position: absolute;
  left: 0;
  bottom: 0%;
  overflow: hidden;
  background: url(../img/menu_bg.png) repeat left top;
}
/*扫描大于一次时*/
img.s_first{
    border-bottom: 1px solid #E7E7E7;
}
div.s_second{
    border-bottom: 1px solid #E7E7E7;
    padding: 20px 0;
}
div.s_second h3{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: #BC0510;
    line-height: 28px;
}
div.s_num{
    width: 90%;
    margin: 10px auto;
}
div.s_second p{
    font-size: 16px;
    float: left;
}
a.l_info{
    display: inline-block;
    width: 86px;
    height: 33px;
    float: left;
    vertical-align:middle;
    margin-left: 10%;
}

/*技术支持*/
p.copyright {
  margin: 20px auto 0;
  border-top: 1px solid #ccc;
  font-size: 14px;
  height: 50px;
  text-align: center;
  width: 92%;
  padding: 0 4%;
}
a.go_wz {
  display: inline-block;
  border: 1px solid #343434;
  margin-top: 10px;
  font-size: 14px;
  padding: 0.01em 0.5em;
  border-radius: 0.5em;
}
/*提示*/
h3.t_tip{
    margin: 55px 0 0 5%;
    font-size: 18px;
    font-weight: bold;
    background: url(../img/tip_bg.jpg) no-repeat left center;
    background-size: 1.5%;
    padding-left: 13px;
}

h5.title{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
}
p.title_p{
  text-align: center;
  color: #BC0510;
  margin-top: 10px;
}
/*启动页*/
a.comin {
  display: block;
  border-radius: 20px;
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 25%;
  bottom: 19%;
  color: #DD975E;
  opacity: 0.1;
  -webkit-animation: comin 1.5s 0s infinite linear;
  animation: comin 1.5s 0s infinite linear;
}
@-webkit-keyframes comin {
    0% {opacity: 0.1;}
    50% {opacity: 1;}
    100% {opacity: 0.1;}
}
@keyframes comin {
    0% {opacity: 0.1;}
    50% {opacity: 1;}
    100% {opacity: 0.1;}
}
