html{
	width: 100%;
	height: 100%;
	background-color: #F7F6F1;
}
body{
	width: 100%;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
}
img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
div.main{
	width: 100%;
	height: 100%;
	background: url(../img/welcome.jpg) no-repeat center;
	background-size: cover;
}
div.main_bg{
	width: 100%;
	height: auto;
	/* background: url(../img/index.jpg) no-repeat center; */
	background-size: cover;
	position: relative;
}
div.menu{
	width: 100%;
	margin-top: 10%;
}
div.menu ul li{
	float: left;
	width: 29.2187%;
	margin: 0 0 3.0859% 3.0859%;
}
div.menu ul li a{
	width: 100%;
}
div.menu ul li a img{
	width: 100%;
}
a.back {
  display: block;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
}
a.back img {
  height: 30px;
  width: 30px;
}
img.erweima{
	max-width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}
div.article{
	width: 92%;
	padding: 4%;
}
div.article h3{
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	border-bottom: 1px solid #E2E2E2;
	text-align: center;
	margin-top: 20px;
}
div.lp_one{
	width: 100%;
}
div.article h4{
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}
div.article h4.bg{
	margin-top: 10px;
}
div.l_img{
	width: 60%;
	float: left;
}
div.r_img{
	width: 60%;
	float: right;
}
h4.r_txt{
	width: 40%;
	float: right;
	padding-top: 8%;
}
h4.l_txt{
	width: 40%;
	float: left;
	padding-top: 8%;
}
div.lp_four > h4.l_txt{
	width: 60%;
	float: left;
	padding-top: 12%;
}
div.lp_four > div.r_img{
	width: 40%;
	float: right;
}
div.article h4 img{
	width: 34px;
	height: 14px;
	float: left;
	padding-top: 7px;
}
div.article h4 span{
	padding-left: 5px;
}
div.article p{
	font-size: 16px;
	line-height: 30px;
}
p.duan{
	font-weight: normal;
}
p.duanluo{
	text-indent: 2em;
}
img.art_img{
	margin: 18px 0;
}
h4.tip{
	margin-top: 10px;
	font-size: 16px;
	color: #E54A51;
	line-height: 25px;
}
/*关注微信--begin*/
p.sao_txt{
	font-size: 22px;
	text-align: center;
	padding: 30px 0;
}
p.sao_txt strong{
	font-weight: bold;
}
p.zhichi{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
a.ewm_return{
	display: block;
	border-radius: 20px;
	width: 90%;
	border: 1px solid #BCBCBC;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	color: #BCBCBC;
	margin: 30px auto 0;
}
/*关注微信--end*/
div.txt_lr {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
div.txt_lr > strong {
  display: block;
  float: left;
  font-size: 16px;
  max-width: 28%;
  font-weight: bold;
}
div.txt_lr > p {
  width: 72%;
  display: block;
  float: right;
}
/*轮播样式*/
#slideshow{
	padding-top: 28%;
}
#slideshow .touchcarousel-item {
  float: left;
}
a.touchcarousel-item {
  display: block;
  position: relative;
}
.touchcarousel.three-d .tc-paging-container {
  bottom: 12px;
}
/*顶部图片样式*/
img.top_img{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
}
/*页面小标签*/
a.tip{
	position: fixed;
	left: 0;
	top: 30%;
	display: block;
	width: 18%;
}
/*启动页*/
a.comin {
  display: block;
  border-radius: 20px;
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 25%;
  bottom: 7%;
  color: #fff;
  opacity: 0.5;
  -webkit-animation: comin 3.5s 0s infinite linear;
  animation: comin 3.5s 0s infinite linear;
}
@-webkit-keyframes comin {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}
@keyframes comin {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}
