html{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
body {
	width: 100%;
    padding-bottom: 70px;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
}
img.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}
a.back {
  display: block;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
}
a.back img {
  height: 30px;
  width: 30px;
}
div.article {
  width: 92%;
  padding: 4%;
}
div.article h4 {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
div.article p {
  font-size: 16px;
  line-height: 30px;
}
p.duanluo {
  text-indent: 2em;
}
div.article strong {
  font-weight: bold;
}
div.article h3 {
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	border-bottom: 1px solid #E2E2E2;
	text-align: center;
	margin-top: 20px;
}
img.art_img {
  margin: 18px 0;
}

div.begin{
	padding: 10px 0;
	border-bottom: 1px solid #E7E7E7;
}
div.begin p{
	font-family: sans-serif, Helvetica, "microsoft yahei", Arial;
}
div.txt_lr {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
div.txt_lr > strong {
  display: block;
  float: left;
  font-size: 16px;
  max-width: 28%;
}
div.txt_lr > p {
  width: 72%;
  display: block;
  float: right;
}
div.beef {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
div.b_img {
  float: left;
  width: 50%;
}
div.br_img{
	float: right;
}
h4.b_txt {
  float: right;
  width: 50%;
}
h4.bl_txt {
  float: left;
}
h4.b_txt p {
  font-weight: normal;
}

/*轮播样式*/
#slideshow .touchcarousel-item {
  float: left;
}
a.touchcarousel-item {
  display: block;
  position: relative;
}
.touchcarousel.three-d .tc-paging-container {
  bottom: 12px;
}
/*列表*/
div.list ul li {
  width: 96.5%;
  padding: 10px 1% 8px 2.5%;
  overflow: hidden;
  border-bottom: 1px solid #D7D7D7;
}
div.l_img {
  float: left;
  width: 30%;
  height: 74px;
  overflow: hidden;
}
div.r_txt {
  float: left;
  width: 55%;
  margin-left: 2%;
  height: 74px;
  overflow: hidden;
}
span.r_btn{
    display: block;
    float: right;
    width: 10%;
    text-align: center;
    height: 74px;
}
span.r_btn img{
    width: 15px;
    margin-top: 28px;
}
div.r_txt h4 {
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}
div.r_txt p{
    font-size: 1em;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 21px;
}
/*底部菜单*/
div.footer {
  width: 100%;
  border-top: 1px solid #D2D2D2;
  background-color: #F7F7F8;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
}
div.footer ul li {
  float: left;
  width: 25%;
  text-align: center;
}
div.footer ul li img {
  display: block;
  margin: 8% auto;
  width: 30%;
}
div.footer ul li a p {
  font-size: 0.8em;
}
