html{
	background-color: #D72528;
  font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
}
body{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.article, .mei_red{
  width: 84%;
  padding: 3%;
  border-radius: 5px;
  margin: 0 auto;
}
.myborder{
  width: 90%;
  margin: 15px auto 0;
}
.zhinan h4{
  font-size: 1.2em;
  color: #fff9de;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.zhinan p{
  line-height: 25px;
  font-size: 14px;
  padding: 0 3%;
  color: #fff9de;
}
span.blue, span.red{
  font-weight: bold;
  font-size: 1.1em;
}
span.blue{
  color: #008AFF;
}
span.red{
  color: #FF0000;
}
a.share_btn{
  width: 90%;
  margin: 20px auto 0;
}
div.mei_red{
  background-color: #BD0003;
}
div.mei_red p{
  text-align: center;
  color: #fff9de;
  font-weight: bold;
  font-size: 1.15em;
}
.article{
  margin-top: 15px;
  background-color: #F94716;
}
p.yqm{
  color: #fff226;
  text-align: center;
}
.my_btn{
  width: 90%;
  margin: 10px auto 0;
  height: 35px;
}
.btn, .fl_btn{
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #6A3C00;
  background-color: #FD9B00;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  display: block;
  width: 90%;
  margin: 10px auto;
}
.fl_btn{
  width: 49%;
  float: left;
}
.shengyu{
  width: 90%;
  margin: 0 auto;
}
.num{
  width: 40%;
  float: left;
  position: relative;
}
.num p{
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #542B00;
}
.mb{
  left: 0;
  top: 30%;
  font-size: 18px;
}
.mb_zi{
  left: 0;
  top: 55%;
  font-size: 14px;
}
.dh_user{
  width: 53%;
  float: right;
  border-radius: 5px;
  background-color: #F94716;
  overflow: hidden;
  position: relative;
  min-height: 115px;
}
.dh_user h4{
  height: 30px;
  line-height: 30px;
  background-color: #FD9B00;
  border-radius: 5px 5px 0 0;
  padding-left: 5px;
  font-size: 1.1em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.dh_user ul{
  padding: 0 3px;
}
.dh_user ul li{
  height: 25px;
  line-height: 25px;
  width: 100%;
}
.dh_user ul li span{
  font-size: 13px;
}
span.liu{
  float: right;
}
span.liang{
  float: left;
}
.change{
  width: 86%;
  height: 35px;
  background-color: #BD0003;
  border-radius: 5px;
  margin: 10px auto;
  line-height: 35px;
  padding: 0 2%;
}
.change span{
  display: inline-block;
  float: left;
  color: #FFF9DE;
}
.change a{
  float: right;
  padding: 0 10px;
  background-color: #FDD110;
  color: #6A4601;
  height: 28px;
  line-height: 28px;
  margin-top: 3px;
  border-radius: 5px;
}
a.back {
  display: block;
    height: 15px;
    left: 10px;
    position: fixed;
    top: 10px;
    width: 15px;
}
a.back img {
  height: 15px;
  width: 15px;
}
.title{
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  color: #E33A3B;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.yaoqing{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  bottom: 0;
}
.yaoqing span{
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  float: left;
}
.yaoqing a{
  float: right;
  padding: 0 10px;
  background-color: #F63743;
  color: #fff;
  height: 26px;
  line-height: 26px;
  border-radius: 5px;
  margin: 7px 5px 0 0;
}
.ch_tip{
  width: 85%;
  height: auto;
  background: url(../images/tip_bg.png) no-repeat center;
  background-size: 100% 100%;
  margin: 10px auto 0;
  padding: 2.5% 2.5% 40px;
}
.ch_tip h1{
  font-size: 18px;
  font-weight: bold;
  float: left;
}
.num_date{
  float: left;
  margin-left: 10%;
}
.ch_num{
  font-weight: bold;
  font-size: 15px;
}
.date{
  color: #9a9a9a;
  margin-top: 3px;
}
.no_record{
  margin-top: 100px;
}
.no_record p{
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #ee9a9b;
}
.you_tel{
  display: block;
  width: 76%;
  margin: 10px auto;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  padding: 0 2%;
}
.go_ling{
  display: block;
  margin: 10px auto;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background-color: #FCD500;
  border: none;
  text-align: center;
  width: 80%;
  font-size: 16px;
  font-weight: bold;
  color: #C42C03;
}
form.duihuan{
  width: 90%;
  margin: 10px auto;
}
.you_change{
  width: 66%;
  float: left;
}
form.duihuan button{
  display: block;
  float: right;
  width: 25%;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #FDD110;
  margin: 10px 0;
}
.black{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
}
.su_bor{
  width: 80%;
  height: auto;
  background-color: #E93605;
  position: absolute;
  left: 5%;
  border-radius: 10px;
  padding: 20px 5%;
  top: 25%;
}
.su_bor p{
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
.su_bor p span{
  font-size: 16px;
  color: #FFD954;
}
.su_bor button{
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  margin: 10px auto;
  background-color: #FFD824;
  color: #EB3D37;
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.liuliang_img{
  width: 60%;
  margin: 5px auto;
  position: relative;
  background: url(../images/quan.png) no-repeat;
  background-size: 100%;
  height: 80px;
  overflow: hidden;
}
.quan_bor{
  width: 80%;
  height: 80px;
  overflow: hidden;
}
.quan_bor p{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #FD6C01;
  margin-top: 20px;
}
.quan_bor p span{
  font-size: 30px;
  font-weight: bold;
  color: #FD6C01;
}
