html{
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
}
body {
	width: 100%;
	height: auto;
	font-family: Arial, "microsoft yahei", Helvetica, sans-serif;
}

img.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
div.main{
	width: 100%;
	height: 100%;
	background: url(../img/welcome.jpg) no-repeat center center;
	background-size: cover;
}
a.comein{
	width: 34.6875%;
	height: 7.6388%;
	position: absolute;
	left: 32.6562%;
	top: 7.4404%;
}
a.gomain{
	display: block;
	width: 100%;
	height: 100%;
}
img#nav_btn{
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	left: 12px;
	bottom: 12px;
}
a.kongbai{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 48%;
}
div.menu {
  width: 100%;
  height: 55%;
  position: absolute;
  left: 0;
  bottom: -55%;
}
div.menu_bg{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
}
div.navshow{
	-webkit-animation: navshow 1s 0s forwards;
    animation: navshow 1s 0s forwards;
}
@-webkit-keyframes navshow {
	0% {
  		bottom: -55%;
	}
	100% {
  		bottom: 0;
	}
}
@keyframes navshow {
	0% {
  		bottom: -55%;
	}
	100% {
  		bottom: 0;
	}
}
div.navhide{
	-webkit-animation: navhide 1s 0s forwards;
    animation: navhide 1s 0s forwards;
}
@-webkit-keyframes navhide {
	0% {
  		bottom: 0;
	}
	100% {
  		bottom: -55%;
	}
}
@keyframes navhide {
	0% {
  		bottom: 0;
	}
	100% {
  		bottom: -55%;
	}
}
div.menu ul{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.menu ul li{
	float: left;
	width: 21.875%;
	height: 35.5871%;
	margin: 9% 5.5% 0;
}
div.menu ul li a{
	display: block;
	width: 100%;
	height: 65%;
	z-index: 2;
}
div.menu ul li p{
	color: #fff;
	margin-top: 20%;
	text-align: center;
	font-size: 1.2em;
}
a.getout{
	display: block;
	width: 5.9375%;
	height: 2.4911%;
	position: absolute;
	left: 47.2%;
	top: 3%;
	z-index: 2;
	background: url(../img/down.png) no-repeat center;
	background-size: cover;
}
div.main_bg{
	width: 100%;
	height: 100%;
	background: url(../img/index.jpg) no-repeat center;
	background-size: cover;
}
a.back {
  display: block;
  height: 30px;
  left: 15px;
  position: fixed;
  top: 15px;
  width: 30px;
}
a.back img {
  height: 30px;
  width: 30px;
}
div.article {
  width: 92%;
  padding: 4%;
}
div.article h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
  margin-top: 20px;
}
img.art_img {
  margin: 18px 0;
}
div.article h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
div.article h4.mag {
  margin: 10px 0;
}
div.article p {
  font-size: 16px;
  line-height: 30px;
}
p.duanluo {
  text-indent: 2em;
}
div.article strong{
	font-weight: bold;
}
div.beef{
	width: 100%;
	height: auto;
	margin-top: 15px;
}
div.b_img{
	float: left;
	width: 40%;
}
h4.b_txt{
	float: right;
	width: 60%;
}
h4.b_txt p{
	font-weight: normal;
}
img.erweima {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}



